.h1{
    text-align: center;
    color: #3399ff;
}

.s_screen{
    width: 100%;
}

.s_show{
    position: relative;
    margin: 20px 5%;
    height: 380px;
    border: 2px solid #66ff00;
    border-radius: 3px;
}

.s_send{
    margin: 20px;
    text-align: center;
}

.s_txt{
    border:1px solid grey;
    width: 400px;
    height: 40px;
    border-radius: 3px;
    padding-left: 10px;
}

.s_sub{
    width: 180px;
    height: 35px;
    border: 1px solid rgb(230,80,30);
    color: rgb(230,80,0);
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    background-color: white;
}

.s_del{
    width: 180px;
    height: 35px;
    border: 1px solid grey;
    color: rgb(176,168,165);
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    background-color: white;
}

div .text{
    position: absolute;
    right: 20px;
    font-size: 16px;
    white-space: nowrap;
}